.pet-list-container {
    width: 100%;
    padding: 25px 30px;
    background-color: white;
    font-family: Arial, sans-serif;
    max-width: 1300px;
    margin: 0 auto;
}

.list-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.list-header h2 {
    margin: 0;
    color: black;
    font-size: 30px;
}

.section {
    display: flex;
    flex-direction: column;
}

.adopt {
    color: #fff;
    font-size: 15px;
    border-radius: 0;
    background-color: red !important;
    padding: 5px 10px;
    box-shadow: 4px 4px 0px #000;
    border: 1px solid #000 !important;
    height: 40px;
    margin-left: 470px;
    margin-top: -50px;
    font-weight: bold;
    width: 150px;
}

.adopt:hover {
    background-color: blue !important;
}

.details-container {
    border: 1px solid black;
    margin-top: 50px;
}

.details-row {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.details-row label {
    flex: 1;
    text-align: left;
    font-weight: bold;
    margin-left: 70px;
    margin-top: 30px;
}

.details-row p,
.details-row ul {
    flex: 2;
    margin: 0;
    text-align: right;
    margin-right: 300px;
    margin-top: 30px;
    font-weight: normal;
}

.details-row ul {
    padding-left: 0;
    list-style: none;
}

.like-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left:130px;
    margin-bottom:20px;
}

.like-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 2px 2px 0px #000;
    transition: background-color 0.3s;
}

.like-button:hover {
    background-color: red;
}

.like-button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

.numLikes {
    margin-left: 40px;
    font-size: 16px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: -15px;
    padding: 10px;
    border-radius: 5px;
    background: none;
    box-shadow: none;
}

.links {
    text-decoration: underline !important;
    color: blue; 
}

h3 {
    margin-right: 450px;  
}
